<div class="col-xs-12">
    <table id="customers">
        <tr>
            <th>Customer Name</th>
            <th>Email</th>
            <th>Enabled</th>
            <th></th>
        </tr>
        <tr ng-repeat="customer in $ctrl.customers">
            <td>{{customer.customer._}}</td>
            <td>{{customer.Email._}}</td>
            <td>{{customer.Enabled._}}</td>
            <td><a class="nav-link text-dark" ng-click="$ctrl.viewInfo(customer)">View Info</a></td>
        </tr>
    </table>
</div>

<div ng-if="$ctrl.selectedCustomer" class="col-xs-12">
    <br/>
    <br/>
    <br/>
    <div>
        <div class="col-xs-3">
            <b>Name:</b>{{$ctrl.selectedCustomer.customer._}}
        </div>
        <div class="col-xs-3">
            <b>Email:</b>{{$ctrl.selectedCustomer.Email._}}
        </div>
    </div>

    <div class="col-xs-4">
        <br/>
        <b>Registered Thresholds</b>
    </div>
    <table id="customers">
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        <tr ng-repeat="threshold in $ctrl.customerthresholds">
            <td>{{threshold.attribute._}}</td>
            <td>{{threshold.value._}}</td>
        </tr>
    </table>
</div>

<div ng-if="$ctrl.selectedCustomer" class="col-xs-12">
    <br/>
    <br/>
    <br/>
    <table id="customers">
        <tr>
            <th>Device Id</th>
            <th>Timestamp</th>
            <th>Message Id</th>
            <th>Temperature</th>
            <th>Humidity</th>
        </tr>
        <tr ng-repeat="log in $ctrl.customerData">
            <td>{{log.DeviceId._}}</td>
            <td>{{log.Timestamp._}}</td>
            <td>{{log.MessageId._}}</td>
            <td>{{log.Temperature._}}</td>
            <td>{{log.Humidity._}}</td>
        </tr>
    </table>
    {{$ctrl.refreshedAt | date:'medium'}}
</div>